@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
::-webkit-scrollbar 
{
    width: 12px;
}
::-webkit-scrollbar-track 
{
    background-color: #ffffff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb 
{
    background: #d3d3d3;
    border-radius: 10px;
    height: 30%;
}
::-webkit-scrollbar-thumb:hover
{
    background: #ff7354;
}

/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|         -common START-          |
|>>>>>>>===================<<<<<<<|
*/
*
{
    padding: 0;
    margin: 0;
}
img
{
    object-fit: cover;
}
.box
{
    display: flex;
}
.common-button
{
    display: flex;
    position: relative;
    background: #e5745d;
    width: 195px;
    height: 73px;
    align-items: center;
    justify-content: center;
}
.common-button a
{
    position: absolute;
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.common-button a::after 
{
    position: absolute;
    width: 180px;
    height: 60px;
    content: "";
    top: -16.5px;
    left: -45.5px;
    border: 2px solid #ffffff;
}
.title h4
{
    position: relative;
    padding-bottom: 18px;
    font-size: 18px;
    color: #e5745d;
    font-weight: 500;
    font-family: "Vollkorn", serif;
    text-align: center;
}
.title h4::after 
{
    position: absolute;
    content: "";
    top: 8px;
    left: 41%;
    width: 42px;
    height: 2.5px;
    background: #e5745d;
}
.title h4::before 
{
    position: absolute;
    content: "";
    top: 6px;
    left: 44%;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background: #e5745d;
}
.title h2
{
    width: 500px;
    font-size:48px;
    color: #00413d;
    font-weight: 600;
    font-family: "Vollkorn", serif;
    text-align: center;
    margin: 0 auto;
}
ul,li,ol,a
{
    list-style: none;
    text-decoration: none;
}

/* 
|>>>>>>>===================<<<<<<<|
|        -common FINISHED-        |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|         -navbar START-          |
|>>>>>>>===================<<<<<<<|
*/
.navbar-nav
{
    column-gap: 50px;
}
.navbar-collapse
{
    row-gap: 20px;
}
.nav-link
{
    font-family: "Jost", sans-serif;
    color: #00413d;
    font-size: 18px;
    font-weight: 400;
    transition: 0.4s;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.nav-link:hover
{
    color: #e5745d;
}
.navbar
{
    padding: 20px 0;
}
.menu_button a
{
    position: relative;
    padding: 24px 40px;
    background: #e5745d;
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.menu_button a::after 
{
    position: absolute;
    width: 176px;
    height: 59px;
    content: "";
    top: 6.5px;
    left: 6.5px;
    border: 2px solid #ffffff;
}
/* 
|>>>>>>>===================<<<<<<<|
|        -navbar FINISHED-        |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|         -banner START-          |
|>>>>>>>===================<<<<<<<|
*/
.banner
{
    position: relative;
    background: #00413d;
    width: 100%;
    height: 645px;
    padding-top: 170px;
    padding-bottom: 400px;
    overflow: hidden;
}
.banner .overlay
{
    position: absolute;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    right: -50%;
    width: 47.5%;
    height: 100%;
    transition: 1.4s;
}
.banner:hover .overlay
{
    right: 0;
}
.banner h1,
.banner p
{
    position: absolute;
    z-index: 1;

}
.banner h1
{
    font-family: "Vollkorn", serif;
    color: #ffffff;
    font-size: 100px;
    font-weight: 500;
    line-height: 90px;
}
.banner h1 span
{
    display: block;
}
.banner p 
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    width: 670px;
    padding-top: 195px;
    /* padding-bottom: 45px; */
    line-height: 30px;
}
.banner p span
{
    color: #ffffff;
}
.banner-button
{
    position: absolute;
    padding-top: 290px;
}
/* 
|>>>>>>>===================<<<<<<<|
|       -banner FINISHED-         |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|        -service START-          |
|>>>>>>>===================<<<<<<<|
*/
.service
{
    padding-top: 135px;
    padding-bottom: 100px;
}
/* .service .title
{
    padding-bottom: 40px;
} */
.service .card
{
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 50px;
    width: 100% !important;
    height: 365px;
    box-shadow: rgba(150, 150, 161, 0.2) 10px 15px 20px 0px;
    border-style: none;
}
.service .card img
{
    width: 20%;
}
.service .card .card-body
{
    padding: 0;
}
.service .card .card-title
{
    padding-top: 26px;
    color: #00413d;
    font-size: 24px;
    font-family: "Vollkorn", serif;
    font-weight: 700;
}
.service .card .card-text
{
    width: 250px;
    color: #00413d;
    line-height: 24px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
}
.service .card .card-body i
{
    font-size: 24px;
    color: #00413d;
}
/* 
|>>>>>>>===================<<<<<<<|
|       -service FINISHED-        |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|          -about START-          |
|>>>>>>>===================<<<<<<<|
*/

.about img 
{
    object-fit: cover;
}
.about .box img 
{
    width: 384px;
    height: 460px;
}
.about .box
{
    column-gap: 20px;
}
.about .second-part
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about .second-part img
{
    width: 170px;
    height: 220px;
}
.about .title h4
{
    position: relative;
    padding-bottom: 18px;
    left: 9.5%;
    font-size: 18px;
    color: #e5745d;
    font-weight: 500;
    font-family: "Vollkorn", serif;
    text-align: left;
    align-items: center;
}
.about .title h4::after 
{
    left: -9.2%;
}
.about .title h4::before 
{
    left: -2.8%;
}
.about .title h2
{
    width: 525px;
    font-size: 48px;
    color: #00413d;
    font-weight: 400;
    font-family: "Vollkorn", serif;
    text-align: left;
    margin-left: 0;
}
.about p
{
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    color: #12867f;
}

.about .common-button a::after 
{
    left: -35.4px;
}
/* 
|>>>>>>>===================<<<<<<<|
|         -about FINISHED-        |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|       -progressbar START-       |
|>>>>>>>===================<<<<<<<|
*/
.barset
{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: -500px;
}
.barset .radial-bar .row
{
    position: absolute;
}
.progress-bar
{
    position: relative;
}
.bar
{
    fill: none;
    stroke: #e5745d;
    stroke-linecap: round;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animate-bar 1.5s linear forwards;
}

@keyframes animate-bar
{
    100%
    {
        stroke-dashoffset: 0;
    }
}
.bar-1
{
    fill: none;
    stroke: #e5745d;
    stroke-linecap: round;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animate-bar1 1s linear forwards;
}
@keyframes animate-bar1
{
    100%
    {
        stroke-dashoffset: 260;
    }
}
.bar-2
{
    fill: none;
    stroke: #e5745d;
    stroke-linecap: round;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animate-bar2 1s linear forwards;
}
@keyframes animate-bar2
{
    100%
    {
        stroke-dashoffset: 215;
    }
}
.bar-3
{
    fill: none;
    stroke: #e5745d;
    stroke-linecap: round;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animate-bar3 1s linear forwards;
}
@keyframes animate-bar3
{
    100%
    {
        stroke-dashoffset: 305;
    }
}
.bar-4
{
    fill: none;
    stroke: #e5745d;
    stroke-linecap: round;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animate-bar4 1s linear forwards;
}
@keyframes animate-bar4
{
    100%
    {
        stroke-dashoffset: 375;
    }
}

.outter-box
{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 160px;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    box-shadow: rgba(150, 150, 161, 0.216) 0px 20px 30px 0px;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
}
.inner-box
{
    display: flex;
    width: 165px;
    height: 165px;
    justify-content: center;
    align-items: center;
    border: 12.2px solid #e4e4e4cc; 
    border-radius: 50%;
}
.inner-box h3
{
    font-size: 34px;
    font-weight: 800;
    font-family: "Vollkorn", serif;
    color: #e5745d;
}
.outter-box h2
{
    font-size: 32px;
    font-weight: 700;
    font-family: "Vollkorn", serif;
    color: #00534d;
}
/* 
|>>>>>>>===================<<<<<<<|
|     -progressbar FINISHED-      |
|>>>>>>>===================<<<<<<<|
*/
/*
for box shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7)
*/
/*-------------------------------------------------------------------------*/

/* 
|>>>>>>>===================<<<<<<<|
|         -project START-         |
|>>>>>>>===================<<<<<<<|
*/
.project
{
    padding-bottom: 100px;
}
.project .project-title h4
{
    text-align: left;
    left: 12%;
}
.project .project-title h2
{
    margin-left: 0px;
    margin-top: -10px;
    text-align: left;
}
.project .project-title h4::after 
{
    left: -11.5%;
    top: 9px;
}
.project .project-title h4::before 
{
    top: 6px;
    left: -3.8%;
    width: 8px;
    height: 8px;
}
.project .box 
{
    justify-content: space-between;
}
.project .icon
{
    margin-right: -10px;
}
.project .icon ul
{
    display: flex;
}
.project .icon ul li
{
    display: flex;
    width: 45px;
    height: 45px;
    margin: 8px 11px 0 0;
    background: transparent;
    color: #00413D;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border: 1px solid rgba(0, 65, 61, 0.196);
    cursor: pointer;
}
.project .icon ul li:hover
{
    background: #e5745d;
    color: #ffffff;
    border: transparent;
}

.project .card
{
    margin-top: 50px;
    width: 100% !important;
    box-shadow: rgba(150, 150, 161, 0.2) 10px 15px 20px 0px;
    border-style: none;
    cursor: pointer;
}
.project .card-body
{
    padding: 30px;
}
.project .card .card-title
{
    color: #e5745d;
    font-size: 16px;
    font-family: "Vollkorn", serif;
    font-weight: 700;
}
.project .card .card-text
{
    color: #00413d;
    font-size: 24px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
}
.project .card .card-text-2
{
    width: 300px;
    color: #12867f;
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
}
.project .card-box
{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.project .card:hover .card-box a,
.project .card:hover .card-box .icon
{
    color: #e5745d;
}
.project .card-box .icon
{
    transition: all 0.4s ease;
}
.project .card-box a
{
    font-size: 18px;
    font-weight: 500;
    color: #00413d;
    font-family: "Jost", sans-serif;
    transition: all .4s ease;
}
.project .card-box i 
{
    margin-left: -15px;
    margin-top: 1.5px;
    font-size: 16px;
}
.project img
{
    height: 350px;
    object-fit: cover;
}
/* 
|>>>>>>>===================<<<<<<<|
|       -project FINISHED-        |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|        -portfolio START-        |
|>>>>>>>===================<<<<<<<|
*/
.portfolio .title h4
{
    left: 26px;
}
.portfolio .title h4::before 
{
    top: 5.5px;
    left: 44%;
}
.portfolio .title h4::after
{
    left: 41%;
}
.portfolio ul
{
    display: flex;
    column-gap: 30px;   
    color: #00413d;
    font-size: 16px;
    font-weight: 400;
    font-family: "Vollkorn", serif;
    justify-content: center;
    padding-left: 0;
}
.portfolio li
{
    position: relative;
}
.portfolio li::before 
{               
    position: absolute;    
    content: "";                              
    bottom: -2.5px;                                          
    left: 0;                         
    width: 0; /**in default 100% for measurement ,but having a hover effect the width will (0/0px)**/
    height: 3px;              
    border-radius: 5px;                          
    background-color: #e5745d;  
    transition: 0.7s;     
}
.portfolio li:hover::before
{
    width: 100%;
} 
.portfolio .card
{
    position: relative;
    width: 100% !important;
    height: 520px;
    box-shadow: rgba(150, 150, 161, 0.2) 10px 15px 20px 0px;
    border-style: none;
    cursor: pointer;
    margin-top: 50px;
}
.portfolio .card-body
{
    background: #00413d;
    color: #ffffff;
    border-radius: 0 0 7px 7px;
}
.portfolio .card-title
{
    font-size: 24px;
    font-family: "Vollkorn", serif;
}
.portfolio .card-text
{
    font-size: 16px;
    opacity: 0.7;
}
.portfolio .badge 
{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 40px;
    border-radius: 50%;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    margin-left: 85%;
    margin-bottom: -12.5%;
    z-index: 1;
    opacity: 0;
    transition: all 0.7s ease;
}
.portfolio .card:hover .badge
{
    opacity: 1;
}
.portfolio .badge i 
{
    color: #e57058;
    font-size: 20px;
    margin-bottom: -12.5%;
}
.portfolio img
{
    margin-top: -2.5%;
    height: 420px;
    object-fit: cover;
    transition: all 0.5s ease;
}
.portfolio img:hover 
{
    opacity: 0.9;
    transform: scale(0.9);
}
/* 
|>>>>>>>===================<<<<<<<|
|      -portfolio FINISHED-       |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|       -testimonial START-       |
|>>>>>>>===================<<<<<<<|
*/
.testimonial
{
    padding: 50px 0;
    margin: 100px 0;
    background: #f9f4f1;
}
.testimonial .item
{
    position: relative;
    width: 100%;
    height: 145px;
    padding: 30px 40px;
    background: #ffffff;
    box-shadow: rgba(150, 150, 161, 0.2) 7px 7px 50px 0px;
    border-top: 8px solid #e5745d;
    z-index: 1;
}
.testimonial .testi-rectangle
{
    position: relative;
}
.testimonial .title h4
{
    left: 28px;;
}
.testimonial .title h2
{
    font-weight: 600;
    font-family: "Vollkorn", serif;
}
.testimonial .title h4::after 
{
    left: 39%;
}
.testimonial .title h4::before 
{
    top: 5.5px;
    left: 42%;
}
.testimonial .item p
{
    width: 475px;
    font-size: 16px;
    font-weight: 400;
    color: #00413d;
    font-family: "Jost", sans-serif;
}
.testimonial .testiImage 
{
    position: absolute;
    bottom: -37px;
    left: 70px;
}
.testimonial .box 
{
    position: relative;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding: 40px 0px;
}
.testimonial .avatar-circle img 
{
    width: 80px;
    height: 80px;
}
.testimonial .overlay-avatar 
{
    position: absolute;
    left: 12.5%;
    top: 2.4px;
    width: 95px;
    height: 95px;
    clip-path: circle(45%);
}
.testimonial .overlay-avatar img
{
    width: 95px;
}
.testimonial .testiBox
{
    position: relative;
    margin: 70px 0 150px;
    margin-left: 0;
}
.testimonial .details
{
    position: absolute;
    width: 130px;
    height: 60px;
    margin-left: -100px;
    margin-top: 15px;
    line-height: 5px;
}
.testimonial .details h4
{
    font-family: "Vollkorn", serif;
    font-size: 20px;
    font-weight: 800;
    color: #00514b;
}
.testimonial .details p
{
    font-family: "Jost", serif;
    font-size: 14px;
    color: #12867f;
}
.testimonial .circle-testi
{
    position: relative;
}
.testimonial .avatar-circle
{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 4%;
    fill: none;
    stroke: #e5745d;
    stroke-width: 2px;
    animation: none;
}
/* .testimonial .avatar-circle::before 
{
    position: absolute;
    content: "";
    top: 55px;
    left: 31%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: #D9D9D9;
} */
.testimonial .avatar-circle svg
{
    width: 200px;
}
.testimonial .quote i 
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 20px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-top: -40%;
    margin-left: 44%;
    color: #ffffff;
    background: #e5745d;
    border-radius: 50%;
    z-index: 9999;
}
.testimonial ul
{
    display: flex;
    padding-left: 0;
    font-size: 10px;
    color: #FF9F3F;
    gap: 5px;
}
.testimonial .dotted
{
    margin: 0 auto;
    width: 10%;
    gap: 0;
}
.testimonial .dot
{
    margin: 0 auto;
    align-items: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #D9D9D9;
    gap: 4px;
}
.testimonial .dot-1
{
    position: absolute;
    width: 15px;
    height: 15px;
    background: #e5745d;
    margin-left: -0.8px;
    margin-top: -2px;
}
/* 
|>>>>>>>===================<<<<<<<|
|     -testimonial FINISHED-      |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|         -contact START-         |
|>>>>>>>===================<<<<<<<|
*/
.contact
{
    margin: 110px 0 120px;
}
.contact img 
{
    width: 100%;
    height: 590px;
}
.contact .title h4
{
    left: 9.5%;
    font-size: 18px;
    color: #e5745d;
    font-weight: 500;
    font-family: "Vollkorn", serif;
    text-align: left;
}
.contact .title h4::after 
{
    left: -9.2%;
}
.contact .title h4::before 
{
    left: -3.8%;
}
.contact .title h2
{
    font-size: 48px;
    color: #00413d;
    font-weight: 400;
    font-family: "Vollkorn", serif;
    text-align: left;
    margin-left: 0;
    margin-top: -10px;
}
.contact .box
{
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    padding-top: 40px;
}
.contact input
{
    width: 45%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid rgba(0, 65, 61, 0.13);
}
.contact input:last-child
{
    width: 100%;
}
.contact input::placeholder
{
    font-size: 18px;
    color: #12867f;
    font-family: "Jost", sans-serif;
    padding: 12px 0;
}
.contact input::placeholder type:hover
{
    border: 2px solid #e70202;
}
.contact .common-button
{
    margin-top: 57px;
}
.contact .common-button a::after 
{
    top: -16.5px;
    left: -47.6px;
}

/* 
|>>>>>>>===================<<<<<<<|
|        -contact FINISHED-       |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|          -blog START-           |
|>>>>>>>===================<<<<<<<|
*/
.blog
{
    padding-bottom: 100px;
}
.blog .project-title h4
{
    margin: 0 auto;
    left: 2.5%;
}
.blog .project-title h2
{
    margin: 0 auto;
    margin-top: -10px;
}
.blog .project-title h4::after 
{
    left: 40.5%;
    top: 9px;
}
.blog .project-title h4::before 
{
    top: 6.5px;
    left: 43.5%;
}
.blog .box 
{
    justify-content: space-between;
}
.blog .card
{
    margin-top: 50px;
    width: 100% !important;
    box-shadow: rgba(150, 150, 161, 0.2) 10px 15px 20px 0px;
    border-style: none;
    cursor: pointer;
}
.blog .card-body
{
    position: relative;
    padding: 30px;
}
.blog .card-body .card-title-2
{
    position: absolute;
    left: 74.4%;
    top: 11.5%;
    margin-right: 0;
    color: #12867f;
    font-size: 14px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
}
.blog .card .card-title
{
    color: #e5745d;
    font-size: 14px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
}
.blog .card .card-text
{
    color: #00413d;
    font-size: 24px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
}
.blog .card .card-text-2
{
    width: 300px;
    color: #12867f;
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
}
.blog .card-box
{
    display: flex;
    column-gap: 20px;
    align-items: center;
    transition: 0.4s;
}
.blog .card-box .icon 
{
    transition: all 0.4s ease;
}
.blog .card:hover .card-box a,
.blog .card:hover .card-box .icon
{
    color: #e5745d;
}
.blog .card-box a
{
    font-size: 18px;
    font-weight: 500;
    color: #00413d;
    font-family: "Jost", sans-serif;
    transition: all .4s ease;
}
.blog .card-box i 
{
    margin-left: -15px;
    margin-top: 1.5px;
    font-size: 16px;
}
.blog img
{
    height: 350px;
    object-fit: contain;
}
/* 
|>>>>>>>===================<<<<<<<|
|         -blog FINISHED-         |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|          -footer START-         |
|>>>>>>>===================<<<<<<<|
*/
.footer
{
    background: #00413d;
    height: 474px;
    text-align: center;
    padding: 80px 0;
    margin-top: 50px;
}
.footer .nav-footer
{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding-top: 64px;
    padding-left: 64px;
}
.footer .nav-footer li
{
    padding-right: 33px;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    color: #ffffff;
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}
.footer .nav-footer .one,
.footer .nav-footer .two,
.footer .nav-footer .three,
.footer .nav-footer .four,
.footer .nav-footer .five,
.footer .nav-footer .six
{
    padding-right: 60px;
}
.footer .nav-footer .six
{
    border-right: none;
}
.footer .icon-footer
{
    display: flex;
    padding-left: 0;
    justify-content: center;
    color: #ffffff;
    column-gap: 30px;
    margin-top: 55px;
}
.footer .icon-footer li
{
    display: flex;
    font-size: 35px;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #e5745d;
    border-radius: 50%;
}
.footer .footer-line
{
    margin-top: 80px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}
.footer .copyright
{
    margin: 25px 0 30px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 2px;
    font-family: "Jost", sans-serif;
    font-weight: 200;
}
/* 
|>>>>>>>===================<<<<<<<|
|        -footer FINISHED-        |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/