@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|         -common START-          |
|>>>>>>>===================<<<<<<<|
*/
*
{
    padding: 0;
    margin: 0;
}
.box
{
    display: flex;
}
.common-button
{
    display: flex;
    position: relative;
    background: #e5745d;
    width: 195px;
    height: 73px;
    align-items: center;
    justify-content: center;
}
.common-button a
{
    position: absolute;
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.common-button a::after 
{
    position: absolute;
    width: 180px;
    height: 60px;
    content: "";
    top: -16.5px;
    left: -45.5px;
    border: 2px solid #ffffff;
}
.title h4
{
    position: relative;
    padding-bottom: 18px;
    font-size: 18px;
    color: #e5745d;
    font-weight: 500;
    font-family: "Vollkorn", serif;
    text-align: center;
}
.title h4::after 
{
    position: absolute;
    content: "";
    top: 8px;
    left: 41%;
    width: 42px;
    height: 2.5px;
    background: #e5745d;
}
.title h4::before 
{
    position: absolute;
    content: "";
    top: 6px;
    left: 44%;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background: #e5745d;
}
.title h2
{
    width: 500px;
    font-size:48px;
    color: #00413d;
    font-weight: 400;
    font-family: "Vollkorn", serif;
    text-align: center;
    margin: 0 auto;
}
ul,li,ol,a
{
    list-style: none;
    text-decoration: none;
}

/* 
|>>>>>>>===================<<<<<<<|
|        -common FINISHED-        |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|         -navbar START-          |
|>>>>>>>===================<<<<<<<|
*/
.navbar-nav
{
    column-gap: 50px;
}
.nav-link
{
    font-family: "Jost", sans-serif;
    color: #00413d;
    font-size: 18px;
    font-weight: 400;
    transition: 0.4s;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.nav-link:hover
{
    color: #e5745d;
}
.navbar
{
    padding: 20px 0;
}
.menu_button a
{
    position: relative;
    padding: 24px 40px;
    background: #e5745d;
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.menu_button a::after 
{
    position: absolute;
    width: 176px;
    height: 59px;
    content: "";
    top: 6.5px;
    left: 6.5px;
    border: 2px solid #ffffff;
}
/* 
|>>>>>>>===================<<<<<<<|
|        -navbar FINISHED-        |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|         -banner START-          |
|>>>>>>>===================<<<<<<<|
*/
.banner
{
    position: relative;
    background: #00413d;
    width: 100%;
    height: 645px;
    padding-top: 170px;
    padding-bottom: 400px;
    overflow: hidden;
}

.banner .overlay
{
    position: absolute;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    right: -50%;
    width: 47.5%;
    height: 100%;
    transition: 1.4s;
}
.banner:hover .overlay
{
    right: 0;
}
.banner h1,
.banner p
{
    position: absolute;
    z-index: 1;

}
.banner h1
{
    font-family: "Vollkorn", serif;
    color: #ffffff;
    font-size: 100px;
    font-weight: 500;
    line-height: 90px;
}
.banner h1 span
{
    display: block;
}
.banner p 
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    width: 670px;
    padding-top: 195px;
    /* padding-bottom: 45px; */
    line-height: 30px;
}
.banner p span
{
    color: #ffffff;
}
.banner-button
{
    position: absolute;
    padding-top: 290px;
}
/* 
|>>>>>>>===================<<<<<<<|
|       -banner FINISHED-         |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|        -service START-          |
|>>>>>>>===================<<<<<<<|
*/
.service
{
    padding-top: 135px;
    padding-bottom: 100px;
}
/* .service .title
{
    padding-bottom: 40px;
} */
.service .card
{
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 50px;
    width: 100% !important;
    height: 365px;
    box-shadow: rgba(150, 150, 161, 0.2) 10px 15px 20px 0px;
    border-style: none;
}
.service .card img
{
    width: 20%;
}
.service .card .card-body
{
    padding: 0;
}
.service .card .card-title
{
    padding-top: 26px;
    color: #00413d;
    font-size: 24px;
    font-family: "Vollkorn", serif;
    font-weight: 700;
}
.service .card .card-text
{
    width: 250px;
    color: #00413d;
    line-height: 24px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
}
.service .card .card-body i
{
    font-size: 24px;
    color: #00413d;
}
/* 
|>>>>>>>===================<<<<<<<|
|       -service FINISHED-        |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|          -about START-          |
|>>>>>>>===================<<<<<<<|
*/

.about img 
{
    object-fit: cover;
}
.about .box img 
{
    width: 384px;
    height: 460px;
}
.about .box
{
    column-gap: 20px;
}
.about .second-part
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about .second-part img
{
    width: 170px;
    height: 220px;
}
.about .title h4
{
    position: relative;
    padding-bottom: 18px;
    left: 9.5%;
    font-size: 18px;
    color: #e5745d;
    font-weight: 500;
    font-family: "Vollkorn", serif;
    text-align: left;
    align-items: center;
}
.about .title h4::after 
{
    left: -9.2%;
}
.about .title h4::before 
{
    left: -2.8%;
}
.about .title h2
{
    width: 525px;
    font-size: 48px;
    color: #00413d;
    font-weight: 400;
    font-family: "Vollkorn", serif;
    text-align: left;
    margin-left: 0;
}
.about p
{
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    color: #12867f;
}

.about .common-button a::after 
{
    left: -35.4px;
}
/* 
|>>>>>>>===================<<<<<<<|
|         -about FINISHED-        |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/
/* 
|>>>>>>>===================<<<<<<<|
|       -progressbar START-       |
|>>>>>>>===================<<<<<<<|
*/
.barset
{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: -500px;
}
.barset .radial-bar .row
{
    position: absolute;
}
.progress-bar
{
    position: relative;
}
.bar
{
    fill: none;
    stroke: #e5745d;
    stroke-linecap: round;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animate-bar 1.5s linear forwards;
}

@keyframes animate-bar
{
    100%
    {
        stroke-dashoffset: 0;
    }
}
.bar-1
{
    fill: none;
    stroke: #e5745d;
    stroke-linecap: round;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animate-bar1 1s linear forwards;
}
@keyframes animate-bar1
{
    100%
    {
        stroke-dashoffset: 260;
    }
}
.bar-2
{
    fill: none;
    stroke: #e5745d;
    stroke-linecap: round;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animate-bar2 1s linear forwards;
}
@keyframes animate-bar2
{
    100%
    {
        stroke-dashoffset: 215;
    }
}
.bar-3
{
    fill: none;
    stroke: #e5745d;
    stroke-linecap: round;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animate-bar3 1s linear forwards;
}
@keyframes animate-bar3
{
    100%
    {
        stroke-dashoffset: 305;
    }
}
.bar-4
{
    fill: none;
    stroke: #e5745d;
    stroke-linecap: round;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animate-bar4 1s linear forwards;
}
@keyframes animate-bar4
{
    100%
    {
        stroke-dashoffset: 375;
    }
}

.outter-box
{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 160px;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    box-shadow: rgba(150, 150, 161, 0.216) 0px 20px 30px 0px;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
}
.inner-box
{
    display: flex;
    width: 165px;
    height: 165px;
    justify-content: center;
    align-items: center;
    border: 12.2px solid #e4e4e4cc; 
    border-radius: 50%;
}
.inner-box h3
{
    font-size: 34px;
    font-weight: 800;
    font-family: "Vollkorn", serif;
    color: #e5745d;
}
.outter-box h2
{
    font-size: 32px;
    font-weight: 700;
    font-family: "Vollkorn", serif;
    color: #00534d;
}
/* 
|>>>>>>>===================<<<<<<<|
|     -progressbar FINISHED-      |
|>>>>>>>===================<<<<<<<|
*/
/*
for box shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7)
*/
/*-------------------------------------------------------------------------*/

/* 
|>>>>>>>===================<<<<<<<|
|         -project START-         |
|>>>>>>>===================<<<<<<<|
*/
.project
{
    padding-bottom: 100px;
}
.project .project-title h4
{
    text-align: left;
    left: 12%;
}
.project .project-title h2
{
    margin-left: 0px;
    margin-top: -10px;
    text-align: left;
}
.project .project-title h4::after 
{
    left: -11.5%;
    top: 9px;
}
.project .project-title h4::before 
{
    top: 6px;
    left: -3.8%;
    width: 8px;
    height: 8px;
}
.project .box 
{
    justify-content: space-between;
}
.project .icon
{
    margin-right: -10px;
}
.project .icon ul
{
    display: flex;
}
.project .icon ul li
{
    padding: 10px 14px;
    margin-right: 10px;
    background: #e5745d;
    color: #ffffff;
    transition: all 0.5s ease;
    cursor: pointer;
}
.project .icon ul li:hover
{
    background: transparent;
    border: 1px solid rgba(0, 65, 61, 0.196);
    color: #00413D;
}

.project .card
{
    margin-top: 50px;
    width: 100% !important;
    box-shadow: rgba(150, 150, 161, 0.2) 10px 15px 20px 0px;
    border-style: none;
    cursor: pointer;
}
.project .card-body
{
    padding: 30px;
}
.project .card .card-title
{
    color: #e5745d;
    font-size: 16px;
    font-family: "Vollkorn", serif;
    font-weight: 700;
}
.project .card .card-text
{
    color: #00413d;
    font-size: 24px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
}
.project .card .card-text-2
{
    width: 300px;
    color: #12867f;
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
}
.project .card-box
{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.project .card:hover .card-box a,
.project .card:hover .card-box .icon
{
    color: #e5745d;
}
.project .card-box .icon
{
    transition: all 0.4s ease;
}
.project .card-box a
{
    font-size: 18px;
    font-weight: 500;
    color: #00413d;
    font-family: "Jost", sans-serif;
    transition: all .4s ease;
}
.project .card-box i 
{
    margin-left: -15px;
    margin-top: 1.5px;
    font-size: 16px;
}
.project img
{
    height: 350px;
    object-fit: cover;
}
/* 
|>>>>>>>===================<<<<<<<|
|       -project FINISHED-        |
|>>>>>>>===================<<<<<<<|
*/
/*-------------------------------------------------------------------------*/